In [47]:
%load_ext autoreload
%autoreload 2
import os
import sys
import pandas as pd
# from telethon import TelegramClient, events
sys.path.append(os.path.abspath('../src'))
sys.path.append(os.path.abspath('../Scripts'))
from Preprocess import Preprocess
from data_loader import DataLoad
from named_entity_recognation import CoNLLLabeler
# from telegram_scrapper import DataCrawling

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
# pip install pandas 
# pip install transformers

In [49]:
preprocess = Preprocess()
data_load = DataLoad()

In [29]:
result = data_load.read_csv_txt_data()

In [32]:
labeled_data = data_load.lalebed_file()

In [33]:
labeled_data.head()

      Token      Label
0      3pcs  B-PRODUCT
1   silicon  I-PRODUCT
2     brush  I-PRODUCT
3  spatulas  I-PRODUCT
4       áŠ¥áˆµáŠ¨          O

In [30]:
result.shape

(48788, 6)

In [31]:
result.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Sheger online-store,@Shageronlinestore,6202,NaN,2025-01-15 16:11:58+00:00,photos2/@Shageronlinestore_6202.jpg
1,Sheger online-store,@Shageronlinestore,6201,NaN,2025-01-15 16:11:58+00:00,photos2/@Shageronlinestore_6201.jpg
2,Sheger online-store,@Shageronlinestore,6200,NaN,2025-01-15 16:11:58+00:00,photos2/@Shageronlinestore_6200.jpg
3,Sheger online-store,@Shageronlinestore,6199,NaN,2025-01-15 16:11:57+00:00,photos2/@Shageronlinestore_6199.jpg
4,Sheger online-store,@Shageronlinestore,6198,NaN,2025-01-15 16:11:57+00:00,photos2/@Shageronlinestore_6198.jpg

In [76]:
# result = result.dropna()
# result.shape

(18123, 6)

In [34]:
# Apply the tokenization function to your DataFrame
result = preprocess.tokenize_dataframe(result, message_column='Message')

In [36]:
result = preprocess.clean_structure(result)

In [39]:
# Store preprocessed data to sqlit database
preprocess.store_preprocessed_data(result)

In [42]:
# Fetch The data from SQLit Database
result = preprocess.ReadSavedDate('telegram_data.db', 'telegram_messages')

In [43]:
result.shape

(157173, 10)

In [44]:
result.head()

,id,MESSAGE_ID,Channel_Title,Channel_Username,Date,Media_Path,Content,input_ids,attention_mask,token_type_ids
0,1,6014,Zemen ExpressÂ®,@ZemenExpress,2025-01-15T05:43:58,zemen_photos/@ZemenExpress_6014.jpg,<NA>,<NA>,<NA>,<NA>
1,2,6013,Zemen ExpressÂ®,@ZemenExpress,2025-01-15T05:43:58,zemen_photos/@ZemenExpress_6013.jpg,ðŸ’¥ðŸ’¥..........................ðŸ’¥ðŸ’¥\nÂ Â Â Â Â Â Â Â Â Â Â Â Â Â ...,"[[101, 100, 100, 100, 100, 100, 100, 100, 100,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,3,6012,Zemen ExpressÂ®,@ZemenExpress,2025-01-14T13:29:49,zemen_photos/@ZemenExpress_6012.jpg,<NA>,<NA>,<NA>,<NA>
3,4,6011,Zemen ExpressÂ®,@ZemenExpress,2025-01-14T13:29:49,zemen_photos/@ZemenExpress_6011.jpg,ðŸ’¥ðŸ’¥...................................ðŸ’¥ðŸ’¥\n\nðŸ“ŒFe...,"[[101, 100, 100, 100, 100, 100, 100, 100, 100,...","[[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,5,6010,Zemen ExpressÂ®,@ZemenExpress,2025-01-14T08:17:05,zemen_photos/@ZemenExpress_6010.jpg,<NA>,<NA>,<NA>,<NA>

In [45]:
result.shape

(157173, 10)

In [46]:
labeled_data.head()

      Token      Label
0      3pcs  B-PRODUCT
1   silicon  I-PRODUCT
2     brush  I-PRODUCT
3  spatulas  I-PRODUCT
4       áŠ¥áˆµáŠ¨          O

### Task 2

In [60]:
# Initialize the CoNLLLabeler
labeler = CoNLLLabeler(dataset=result, labeled_data=labeled_data)

In [61]:
# Process 30 messages (or as many as are available)
labeled_messages = labeler.process_messages(num_messages=30)

In [62]:
# Save the labeled messages in CoNLL format
output_path = "labeled_data.conll"
labeler.save_conll_format(labeled_messages, output_path)

print(f"Labeled data saved in CoNLL format to {output_path}")

Labeled data saved in CoNLL format to labeled_data.conll